{% extends "layout.html" %}
{% block title %}{{ current_bot.bot_name }}{% endblock %}
{% block head %}
  {{ super() }}
  <script>
   var current_bot = {{ current_bot|tojson }};
   /* var bot_id = {{ current_bot['id'] }}; */
   /* var rules = {{ rules|safe }}; */
   /* var active = {{ current_bot['active']|tojson }}; */
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='bot_ctrl_func.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='basic_line_chart.js') }}"></script>
{% endblock %}
{% block heading %}{{ current_bot.bot_name }}{% endblock %}
{% block content %}
<div class="row" >
  <div class="row">
    <div class="col-sm-6">
      <button id="start_bot" type="button" class="btn btn-primary" data-toggle="button" data-toggle="tooltip" title="start and stop the current bots">
        Start Bot
      </button>
      <a href="{{ url_for('bot.show_bot_settings', bot_hash=current_bot.bot_hash) }}">
        <button id="bot_settings" type="button" class="btn btn-primary" data-toggle="tooltip" title="bot specific settings">
        Settings
        </button>
      </a>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-sm-2"></div>
   <div class="col-sm-8">
			<canvas id="mychart"></canvas>
   </div>
   <div class="row">
     <div class="row col-sm-12">Put your tweet here:</div>
     <div class="row col-sm-12">
      <textarea maxlength="280" class="form-control" id="tweet_content" rows="3" data-toggle="tooltip" title="Here you can enter a custom tweet."></textarea>
     </div>
     <div class="row col-sm-12">
      <div class="col-sm-8"></div>
      <div class="col-sm-4" id="char_count_div"><span id="char_count"></span><span> chars left</span></div>
     </div>
   </div>
   <div class="row">
     <button type="button" class="btn btn-info" id="send_tweet" name="send_tweet" data-toggle="tooltip" title="Post a tweet on twitter. Beware, the bot needs to be active">send tweet</button>
   </div>
  </div>
	<br>
	<br>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="row col-sm-12">
    <div id="embedded_timeline"></div>
  </div>
  <div class="row col-sm-12">
    <form type="submit" action="{{ url_for('bot.delete_bot') }}" method="post">
      <button type="submit" id="removeBot" class="btn btn-danger btn-block" data-toggle="tooltip" title="remove bot from gui. the bot isn't deleted from the database">
        Remove Bot
      </button>
      <input type="hidden" value="{{ current_bot.bot_id }}" name="bot_id">
    </form>
  </div>
{% endblock %}
