<!DOCTYPE html>
<html lang="de">
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - Twitter Bot</title>
  <!-- begin favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='img/favicon/site.webmanifest') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='img/favicon/safari-pinned-tab.svg') }}" color="#3ab6da">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="{{ url_for('static', filename='img/favicon/browserconfig.xml') }}">
  <meta name="theme-color" content="#ffffff">
  <!-- end favicons -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='Chart.bundle.js') }}"> </script>
  <script type="text/javascript" src="{{ url_for('static', filename='utils.js') }}"> </script>
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='sidebar.js') }}"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}
</head>

<body>
<div class="wrapper">
  <div id="sidebar" class="sidebar_visible">
    <div class="sidebar-header">
      <img src="{{ url_for('static', filename='img/twitter_logo.jpg') }}" height="42" width="42" alt="Twitter Logo">
    </div>
    <ul class="list-unstyled components">
      <!-- set active if current site is home -->
      <li {% if request.path==url_for('bot.home') %} class="active"{% endif %}><a href="{{ url_for('bot.home') }}">Home</a></li>
      {% if all_bots %}
        {% for bot in all_bots %}
      <!-- set active if current site is a bot site -->
          <li {% if  request.path == url_for('bot.show_bot', bot_hash=bot.bot_hash) %} class="active" {% endif %}><a href="{{ url_for('bot.show_bot', bot_hash=bot.bot_hash) }}">{{ bot.bot_name }}</a></li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
  <div id="content" class="col-sm-12">
    <div class="page-header col-sm-12" >
      <h1>{% block heading %}{% endblock %}</h1>
    </div>
    <div class="col-sm-12">
      <div class="row col-sm-12" id="content_top"></div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" data-toggle="tooltip" title="collapse and expand the sidebar">
          Menue
        </button>
        <button type="button" id="addBot" class="btn btn-success" data-toggle="collapse" data-target="#botform" data-toggle="tooltip" title="add a new bot">
          Add Bot
        </button>
        <a href="{{ url_for('bot.show_common_settings') }}">
          <button type="button" id="refresh" class="btn btn-primary" data-toggle="tooltip" title="General settings for all bots. Except they have own settings. You can find them on the bot page by pressing 'Settings'.">
          Common Settings
          </button>
        </a>
        <button type="button" id="export" class="btn btn-warning" data-toggle="tooltip" title="export data">
          Export
        </button>
      </div>
    </div>
    <div id="botform" class="collapse form-group">
        <div class="row">
          <div class="col-sm-10">
            <span>Bottyp</span>
            <select id="bot_class" class="form-control" name="bot_class" data-style="btn-primary" id="botclass" data-toggle="tooltip" title="Select a bot type based on the files in facebookbot/bot/userbots">
              {% if bot_classes %}
                {% for bot_class in bot_classes %}
                  <option  value="{{ bot_class }}">{{ bot_class }}</option>
                {% endfor %}
              {% endif %}
            </select>
          </div>
        </div>
          <div class="row">
            <div class="col-sm-10">
              <span >Botname</span>
              <input id="bot_name" type="text" value="" data-toggle="tooltip" title="Give the bot a unique name." class="form-control" name="bot_name">
            </div>
            <div class="col-sm-10">
              <span >Username</span>
              <input data-toggle="tooltip" title="Input the twitter username, without the @ in the front, for which you created the tokens." id="user_name" type="text" value="" class="form-control" name="user_name">
            </div>
            <div class="col-sm-10">
              <span >access_token_key</span>
              <input id="access_token_key" type="text" value="" class="form-control" name="access_token_key" data-toggle="tooltip" title="Input the access_token_key for the bot. Generated via apps.twitter.com .">
            </div>
            <div class="col-sm-10">
              <span >access_token_secret</span>
              <input title="Input the access_token_secret for the bot. Generated via apps.twitter.com ." id="access_token_secret" type="text" value="" class="form-control" name="access_token_secret">
            </div>
            <div class="col-sm-10">
              <span >consumer_key</span>
              <input title="Input the cons_key for the bot. Generated via apps.twitter.com ." id="consumer_key" type="text" value="" class="form-control" name="consumer_key">
            </div>
            <div class="col-sm-10">
              <span >consumer_secret</span>
              <input title="Input the consumer_secret for the bot. Generated over apps.twitter.com ." id="consumer_secret" type="text" value="" class="form-control" name="consumer_secret">
            </div>
            <div class="row ">
              <br>
            </div>
            <div class="row col-sm-2">
              <input type="button" id="save_bot" class="btn btn-success" value="submit" title="This will add the bot to the database with the above entered values.">
            </div>
          </div>
      </form>
    </div>
    <div class="container col-sm-12" >
      <div class="row col-sm-12" id="content_top"></div>
      {% block content %} {% endblock %}
    </div>
  </div>
</div>
</body>

</html>
<!-- Template for Messagebox -->
<div class="row alert alert-dismissible hidden hidden_messagebox" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong class="message">Title</strong>
</div>
