* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-color: #ffffff;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.bot_btn-group {
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
}

#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 10px;
    width: 100%;
}

#sidebar {
    width: 0px;
    position: fixed;
    z-index: 1;
    min-height: 100vh;
    background: #28a9e2;
    color: #ffffff;
    transition: all 0.3s;
    margin-left: 0px;
    overflow-x: hidden;
}

/* #sidebar.toggled { */
/*     /\* margin-left: -270px; *\/ */
/*     margin-left: -270px; */
/* } */

#sidebar .sidebar-header {
    padding: 20px;
    background: #28a9e2;
    transition: all 0.3s;
}

#sidebar img{
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid ;
    transition: all 0.3s;
}

#sidebar ul p {
    color: #f7f7f7;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #f7f7f7;
}

#sidebar ul li a:hover {
    color: #3b5998;
    background: #dfe3ee;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #f7f7f7;
    background: #8b9dc3;
}

.bot_rule{
    margin-top: 10px;
}

hr.double_line {
    border-top: 3px double #8c8b8b;
}

/* canvas{
    border:2px solid #28a9e2;
    margin-top: 10px;
    margin-bottom: 10px;
} */

#line_top_x_outer {
    width: 100%;
    text-align: center;
}

#line_top_x {
    display: inline-block;
}

#time_settings {
    margin-top: 15px;
}

.headers {
    margin-top: 15px;
}

#dyn_table {
    margin-top: 15px;
}
canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
}

/* #embedded_timeline{ */
/*     width: 200px; */
/* } */

#char_count_div {
    text-align: right;
}

#tweet_content {
    resize: none;
}
