{% extends "layout.html" %}
{% block title %}HOME{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
    {% block heading %} Home of the Bots {% endblock %}
{% block content %}

  <div class="row col-sm-12">
		</div>
	<br>
	<br>
	<div class="row col-sm-12">
    <table class="table table-stripped">
      <thead>
        <tr>
          <td>
            #
          </td>
          <td>
            Status
          </td>
          <td>
            Bot
          </td>
          <td>
            Follower
          </td>
          <td>
            Following
          </td>
        </tr>
      </thead>
      <tbody>
        {% for bot in bots_w_status %}

          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ bot.status }}</td>
            <td>
              <a href="{{ url_for('bot.show_bot', bot_hash=bot.bot_hash) }}">{{ bot.bot_name }}</a>
            </td>
            <td>{{ bot.follower }}</td>
            <td>{{ bot.following }}</td>
          </tr>

        {% endfor %}
      </tbody>
    </table>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='basic_line_chart.js') }}"></script>


{% endblock %}
