{% extends "layout.html" %}
{% block title %}
{% if current_bot %}
{{ current_bot.bot_name }} - {% endif %}Settings
{% endblock %}
{% block head %}
  {{ super() }}
  <script>
    {% if current_bot %}
   console.log({{ current_bot['id'] }});
      var bot_id = {{ current_bot['id'] }};
      var rules = {{ rules | safe }};
      var active = {{ current_bot['active'] | tojson }};
    {% else %}
      var rules = "";
      var bot_id = "";
  {% endif %}
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='dyntable.js') }}"></script>
{% endblock %}
{% block heading %}
  {% if current_bot %}
    Settings for {{ current_bot.bot_name }}
  {% else %}
    Settings
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="row">
        {% if current_bot %}
        <div class="col-sm-2">
            <a href="{{ url_for('bot.show_bot', bot_hash=current_bot.bot_hash) }}">
        <button id="bot_settings" type="button" class="btn btn-primary" data-toggle="tooltip" title="go back to bot page">
          back
        </button>
      </a>
        </div>
        {% endif %}
    </div>
    <div class="row border-1 rounded " id="time_settings">
        <div class="row col-sm-12">
            <div class="col-sm-4">
                <div>
                    Min Response Time
                </div>
                <div>
                    <input type="text" class="form-control" data-toggle="tooltip" title="Lower boundary in seconds for bot responses" name="min_resp_t" id="min_resp_t" required {% if current_bot %} value="{{ current_bot.min_resp_t }}" {% else %} value="{{ default_settings.min_resp_t }}" {% endif %}>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    Max Response Time
                </div>
                <div>
                    <input type="text" class="form-control" data-toggle="tooltip" title="Upper boundary in seconds for bot responses" name="max_response_t" id="max_resp_t" required {% if current_bot %} value="{{ current_bot.max_resp_t }}" {% else %} value="{{ default_settings.max_resp_t }}" {% endif %}>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    Routine Time
                </div>
                <div>
                    <input type="text" class="form-control" data-toggle="tooltip" title="Interval in seconds in which the user defined routine is run" name="routine_t" id="routine_t" required {% if current_bot %} value="{{ current_bot.routine_t }}" {% else %} value="{{ default_settings.routine_t }}" {% endif %}>
                </div>
            </div>
        </div>
    <div class="row col-sm-12">
        <div class="col-sm-4">
            <div>
                Retweeted Sleep
            </div>
            <div>
                <input type="text" class="form-control" data-toggle="tooltip" title="Interval in seconds for fetching information on how often the bot tweets are retweeted" name="retweeted_sleep" id="retweeted_sleep" required {% if current_bot %} value="{{ current_bot.retweeted_sleep }}" {% else %} value="{{ default_settings.retweeted_sleep }}" {% endif %}>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                Followers Sleep
            </div>
            <div>
                <input type="text" class="form-control" name="followers_sleep" data-toggle="tooltip" title="Interval in seconds for fetching new followers from twitter" id="follower_sleep" required {% if current_bot %} value="{{ current_bot.follower_sleep }}" {% else %} value="{{ default_settings.follower_sleep }}" {% endif %}>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                Direct Message Sleep
            </div>
            <div>
                <input type="text" class="form-control" name="d_message_sleep" data-toggle="tooltip" title="Interval in seconds between fetching of direct messages. Currently unimplemented." id="d_message_sleep" required {% if current_bot %} value="{{ current_bot.d_message_sleep }}" {% else %} value="{{ default_settings.d_message_sleep }}" {% endif %}>
            </div>
        </div>
    </div>
  </div>
    <br>
    <div class="row col-sm-12">
        <input type="button" class="btn btn-success" id="save_settings" value="Save Settings" data-toggle="tooltip" title="Save settings to database. All values need to be specified" />
    </div>
</div>
{% if current_bot %}
<div class="row col-sm-12" id="dyn_table">
    <div class="row col-sm-12">
        <strong><span>Rules:</span></strong>
    </div>
    <div id="table_body" class="row">
        <!-- Insert Template here -->
    </div>
    <div class="row col-sm-12">
        <hr class="double_line">
    </div>
    <div class="row col-sm-12">
        <input type="button" class="btn btn-success" id="add_row" value="Add Rule" data-toggle="tooltip" title="spawn a new line for a rule" />
    </div>
</div>
{% endif %}
<br />
<br />
<!-- Template for additional rules -->
<div class="row hidden additional_rule bot_rule col-xs-12">
    <div class="col-xs-10 rule_input">
        <input type="text" class="rule form-control " name="-1" value="" placeholder='if tweet contains "trigger words" then "answer words"'/>
    </div>
    <div class="bot_btn-group btn-group col-xs-2" role="group">
        <button type="button" class="ibtnSave btn btn-success" id="save_rule" name="save" data-toggle="tooltip" title="This will save the rule. The bot needs to be restarted for the rule to take effect.">Save Rule</button>
        <button type="button" class="ibtnDel btn btn-danger" id="delete_rule" name="delete" data-toggle="tooltip" title="This will delete the rule">Delete</button>
    </div>
</div>
{% endblock %}
